/*sidebar ----------------------------*/
.sidebar {float: left;width: 250px;  min-height: 900px;}
.sidebar li {list-style: none;padding: 10px;position: relative;}
.sidebar a {text-decoration: none;color: #555;font: 14px Open Sans;text-transform: uppercase;position: relative;z-index: 1000;}
.sidebar a:hover {color: #4A90E2;}
.sidebar ul li:hover ul {display: block;}
.sidebar h1 {color: #4A90E2;font: 16px Open Sans;padding-left: 50px;padding-top: 10px;}
.color {color: #4A90E2;}
.J_ajaxForm{
margin-top: 10px;
  margin-right: 100px;
  width: 70%;
  float: right;
}